@charset "ISO-8859-1";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#logo {
  height: 62px;
}

#single_form {
  display: none;
}

#approveBtn {
  margin-left: 5px;
}

#footer_logo {
  height: 180px;
}

.card-panel {
  background-color: #006838 !important;
}
